.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.caption { 
  font-weight: 500;
}

.templates {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.templates div {
  height: 180px;
  width: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  
  
  border: 1px solid rgb(193, 193, 193);
  border-radius: 12px;
  
}

.templates h3 {
  width: 272px;
  border-radius: 0 0 12px 12px;
  border-top: 1px solid rgb(193, 193, 193, .85);
  letter-spacing: 1.5px;
  margin: 0 auto;
  padding: 22px 0 16px 16px;
  text-align: start;
  background-color: rgb(92, 92, 92);
}