.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container h1 {
  font-size: 52px;
}

.caption { 
  font-weight: 500;
}

.addForm {
  margin: 0 auto;
  padding: 22px 0 16px 16px;
  width: 372px;
  display: flex;
  text-align: start;
  font-weight: 600;
  /* letter-spacing: 1.5px; */
  background-color: rgb(92, 92, 92);
  

  border-radius: 0 0 12px 12px;
  border-top: 1px solid rgb(193, 193, 193, .5);
}

.addForm input {
  width: 200px;
  background-color: rgb(92, 92, 92);
  color: white;
  border-radius: 6px;
  border-style: solid;
}

.templates {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  margin-bottom: 75px;
}

.templates div {
  height: 250px;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  
  border: 1px solid rgb(193, 193, 193);
  border-radius: 12px;
  
}

.templates h3 {
  margin: 0 auto;
  padding: 22px 0 16px 16px;
  width: 372px;
  text-align: start;
  font-weight: 600;
  /* letter-spacing: 1.5px; */
  background-color: rgb(92, 92, 92);
  
  border-radius: 0 0 12px 12px;
  border-top: 1px solid rgb(193, 193, 193, .5);
}

.userBoards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.userBoards div {
  height: 160px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(155, 73, 228, 0.36);
  
  border: 1px solid rgb(193, 193, 193);
  border-radius: 12px;
  
}

.userBoards h3 {
  margin: 0 auto;
  padding: 18px 0 14px 14px;
  width: 248px;
  text-align: start;
  font-size: 16px;
  font-weight: 600;
  /* letter-spacing: 1.5px; */
  background-color: rgb(92, 92, 92);
  
  border-radius: 0 0 12px 12px;
  border-top: 1px solid rgb(193, 193, 193, .5);
}