.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container h1 {
  font-size: 52px;
  text-align: center;
  padding: 0 12px;
}

.caption { 
  font-weight: 500;
  text-align: center;
}

.addForm {
  margin: 0 auto;
  padding: 20px 0 16px 16px;
  width: 372px;
  display: flex;
  text-align: start;
  font-weight: 600;
  /* letter-spacing: 1.5px; */
  background-color: rgb(92, 92, 92);
  

  border-radius: 0 0 12px 12px;
  border-top: 1px solid rgb(193, 193, 193, .5);
}

.addForm input {
  width: 200px;
  background-color: rgb(92, 92, 92);
  color: white;
  border-radius: 6px;
  border: none;
}

.addForm input:focus {
  outline: none;
}

.templates {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  margin-bottom: 75px;
}

.templates div {
  height: 250px;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(24, 49, 83);
  
  border: 1px solid rgb(193, 193, 193);
  border-radius: 12px;
  
}

.templates div:hover {
  cursor: pointer;
}

.addImg {
  height: 140px;
  margin: auto;
}

.templates h3 {
  margin: 0 auto;
  padding: 22px 0 16px 16px;
  width: 372px;
  text-align: start;
  font-weight: 600;
  /* letter-spacing: 1.5px; */
  background-color: rgb(92, 92, 92);
  
  border-radius: 0 0 12px 12px;
  border-top: 1px solid rgb(193, 193, 193, .5);
}

.userBoards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 12px;
}

.userBoards div {
  height: 160px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background-color: rgba(155, 73, 228, 0.36);
  
  border: 1px solid rgb(193, 193, 193);
  border-radius: 12px;
  
}

.userBoards span {
  margin-top: 6px;
  margin-right: 6px;
  text-align: end;
  width: 15px;
  height: 18px;
  direction: rtl;
  text-overflow: clip;
  overflow-y: hidden;
  overflow-x: hidden;
}

.userBoards span:hover {
  margin-top: 6px;
  margin-right: 1.5px;
  width: 84px;  
}

.userBoards h3 {
  margin: 0 auto;
  padding: 18px 0 14px 14px;
  width: 248px;
  text-align: start;
  font-size: 16px;
  font-weight: 600;
  /* letter-spacing: 1.5px; */
  background-color: rgb(92, 92, 92);
  
  border-radius: 0 0 12px 12px;
  border-top: 1px solid rgb(193, 193, 193, .5);
}



@media screen and (max-width: 480px) {
  .container h1 {
    font-size: 38px;
    text-align: center;
  }

  .caption { 
    font-weight: 500;
    text-align: center;
    width: 80%;
  }

  .templates {
    margin-bottom: 25px;
  }

  .templates div {
    height: 160px;
    width: 250px;
  }

  .templates h3 {
    margin: 0 auto;
    padding: 18px 0 12px 16px;
    width: 248px;
  }

  .addImg {
    height: 100px;
    margin: auto;
  }

  .addForm {
    margin: 0 auto;
    padding: 16px 0 12px 12px;
    width: 248px;
  }

  .addForm input {
    width: 140px;
  }

  .userBoards {
    padding-bottom: 60px;
  }
}