.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container > p {
  margin: 8px;
}

.container a {
  text-decoration: none;
}

.container button {
  padding: 6px 12px;
  margin: 0 0 0 12px;
  border-radius: 12px;
  background-color: rgb(107, 107, 107);
  color: rgba(255, 255, 255, 0.92);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 10px;
}