.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.board {
  width: 100vw;
  padding: 12px 22px;
  display: flex;
  align-items: flex-start;
  gap: 22px;
}

.editForm {
  margin-top: 26px;
  margin-bottom: 29px;
}

.addList {
  height: 50px;
  width: 280px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 12px;
  gap: 12px;

  background-color: black;
}

.addList span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}