.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.board {
  width: 100%;
  /* height: 80vh; */
  padding: 12px 22px;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scrollbar-width:thin;
  scrollbar-color: grey #2f2f2f;
  scroll-snap-type: proximity;
  /* overflow-y: scroll; */
  gap: 12px;
}

.board::-webkit-scrollbar {
  display: none;
  /* background-color: black grey; */
  /* overflow-y: none; */
}

.editForm {
  display: flex;
  margin-top: 26px;
  margin-bottom: 29px;
}

.editForm input {
  background-color: rgb(46, 46, 46);
  border: none;
  color: white;
  width: 200px;
}

.editForm input:focus {
  outline: none;
}

.addList {
  height: 50px;
  width: 260px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 12px;
  gap: 12px;

  background-color: black;
}

.addList span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  gap: 12px;
}

.addListForm {
  display: flex;
  padding-right: 12px;
}


.addListForm input {
  width: 180px;
  background-color: black;
  border: none;
  color: white;
}

.addListForm input:focus {
  outline: none;

}