.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.board {
  width: 100vw;
  padding: 12px 22px;
  display: flex;
  align-items: flex-start;
  gap: 22px;
}

.editForm {
  margin-top: 26px;
  margin-bottom: 29px;
}