.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.board {
  width: 100vw;
  padding: 12px 22px;
  display: flex;
  align-items: flex-start;
  gap: 22px;
}

.editForm {
  display: flex;
  margin-top: 26px;
  margin-bottom: 29px;
}

.editForm input {
  background-color: rgb(46, 46, 46);
  border: none;
  color: white;
  width: 200px;
}

.editForm input:focus {
  outline: none;
}

.addList {
  height: 50px;
  width: 280px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 12px;
  gap: 12px;

  background-color: black;
}

.addList span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.addListForm {
  display: flex;
}


.addListForm input {
  width: 180px;
  background-color: black;
  border: none;
  color: white;
}

.addListForm input:focus {
  outline: none;

}