.list {
  height: 800px;
  width: 280px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  border-radius: 12px;
  gap: 12px;

  background-color: black;

}