.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  min-width: 260px;
  height: fit-content;
  max-height: 78vh;
  overflow-y: scroll;
  scrollbar-width: none;
  padding-bottom: 12px;
  border-radius: 12px;
  gap: 12px;

  background-color: black;
}

.listHeader {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.listHeader:hover .listOptions {
  visibility: visible;
}

.listHeader h3 {
  margin: 12px 12px 0 24px;
}

.listOptions {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  visibility: hidden;
}

.optionsDelete {
  margin-top: 6px;
  margin-right: 6px;
  text-align: end;
  width: 15px;
  height: 18px;
  direction: rtl;
  text-overflow: clip;
  overflow-y: hidden;
  overflow-x: hidden;

  transition: width 250ms ease-in-out;
}

.optionsDelete:hover {
  margin-top: 6px;
  /* margin-right: 1.5px; */
  width: 84px;
  cursor: pointer;
}

.optionsEdit {
  margin-right: 6px;
  text-align: end;
  width: 15px;
  height: 18px;
  direction: rtl;
  text-overflow: clip;
  overflow-y: hidden;
  overflow-x: hidden;

  transition: width 250ms ease-in-out;
}

.optionsEdit:hover {
  /* margin-right: 3px; */
  /* width: 58.75px;   */
  width: 50px;
  cursor: pointer;
}

.editForm {
  width: 230px;
  display: flex;
  flex-wrap: nowrap;
  margin-left: 6px;
  margin-top: 6px;
}

.editForm select {

  background-color: rgba(46, 46, 46, 0.8);
  border-radius: 6px;
  border: none;
  color: white;
}

.editForm select:focus {
  outline: none;
  background-color: rgba(46, 46, 46, 0.5);
}

.formBtns {
  display: flex;
}

.editForm input {
  width: 128px;
  background-color: rgba(98, 112, 107, 0);
  border: none;
  color: white;
  font-weight: 600;
  /* margin-right: 6px; */
  margin-left: 0;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 600;
}

.editForm input:focus {
  outline: none;
  /* background-color: rgba(46, 46, 46, 0.5); */
  font-family: "Red Hat Text", sans-serif;
  font-weight: 600;
}

/* cards */

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.addCard {
  width: 240px;
  height: fit-content;
  padding: 6px;
  text-align: start;
  border-radius: 12px;
  margin: 0 12px;
  background-color: rgba(98, 112, 107, 0.499);
}


.addCard span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}


.addCard h4 {
  margin: 2px;
}


.addCardForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 240px;
  flex-wrap: wrap;
}


.addCardForm textarea {
  width: 230px;
  height: fit-content;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 600;
  border: none;
  color: white;
  resize: none;
  line-height: normal;
  field-sizing: content;


  background-color: rgba(98, 112, 107, 0);
  margin-bottom: 6px;
}

.addCardForm textarea:focus {
  outline: none;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 600;
}

.submitBtn {
  margin-left: 0;
  border: none;
  color: white;
  background-color: rgb(46, 46, 46, 0.5);
  padding: 6px;
  border-radius: 4px;
  width: 70px;
  height: 28px;
  transition: background-color 250ms ease-in-out;
}
.submitBtn:hover {
  background-color: rgb(98, 112, 107);
  cursor: pointer;
}
.cancelBtn {
  margin-left: 2px;

  border: none;
  height: 28px;
  color: white;
  background-color: rgb(46, 46, 46, 0.5);
  padding: 0;
  border-radius: 4px;
  width: 20px;
  transition: background-color 250ms ease-in-out;
}

