.list {
  min-width: 260px;
  height: fit-content;
  max-height: 78vh;
  overflow-y: scroll;
  scrollbar-width: none;

  padding-bottom: 12px;
    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  border-radius: 12px;
  gap: 12px;

  background-color: black;

}

.listHeader {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}

.listHeader h3 {
  margin: auto;
}

.listOptions {
  display: flex;
  flex-direction: column;
  position: relative;
}



.optionsDelete {
  margin-top: 6px;
  margin-right: 6px;
  text-align: end;
  width: 15px;
  height: 18px;
  direction: rtl;
  text-overflow: clip;
  overflow-y: hidden;
  overflow-x: hidden;
}

.optionsDelete:hover {
  margin-top: 6px;
  margin-right: 1.5px;
  width: 84px;  
}

.optionsEdit {
  /* margin-top: 6px; */
  margin-right: 6px;
  text-align: end;
  width: 15px;
  height: 18px;
  direction: rtl;
  text-overflow: clip;
  overflow-y: hidden;
  overflow-x: hidden;
}

.optionsEdit:hover {

  margin-right: 1.5px;
  width: 58.75px;  
}

.editForm {
  display: flex;
  margin-top: 12px;
}

.editForm input {
  width: 180px;
  background-color: black;
  border: none;
  color: white;
}

.editForm input:focus {
  outline: none;
}



/* cards */

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  gap: 12px;

  
}

.addCard {
  width: 240px;
  height: 38px;
  padding: 6px;
  text-align: start;
  border-radius: 12px;
  margin: 0 12px;
  
  background-color: rgba(98, 112, 107, 0.6);
}


.addCard span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}


.addCard h4 {
  margin: 2px;
}


.addCardForm {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.addCardForm input {
  width: 150px;
  background-color: rgba(98, 112, 107, 0);
  border: none;
  color: white;
}

.addCardForm input:focus {
  outline: none;

}