.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container > p {
  margin: 8px;
}

.photo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.container a {
  text-decoration: none;
}

.container button {
  padding: 6px 12px;
  border-radius: 12px;
  background-color: rgb(107, 107, 107);
}
