.card {
  width: 240px;
  height: 100px;
  padding: 6px;
  text-align: start;
  border-radius: 12px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  
  background-color: rgb(98, 112, 107);
}

.card h5 {
  margin: 2px 2px;
}

.card > .listOptions {
  visibility: hidden;

}

.card:hover > .listOptions {
  visibility: visible;

}


.listOptions {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* .listOptions:hover {
} */

.optionsDelete {
  margin-left: 6px;
  text-align: end;
  width: 15px;
  height: 18px;
  direction: rtl;
  text-overflow: clip;
  overflow-y: hidden;
  overflow-x: hidden;
}

.optionsDelete:hover {

  width: 79.75px;  
}

.optionsEdit {
  /* margin-top: 6px; */
  margin-left: 6px;
  text-align: end;
  width: 15px;
  height: 18px;
  direction: rtl;
  text-overflow: clip;
  overflow-y: hidden;
  overflow-x: hidden;
}

.optionsEdit:hover {

  /* margin-right: 1.5px; */
  width: 54px;  
}
/*  */

.editForm {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.editForm input {
  width: 150px;
  background-color: rgb(98, 112, 107);
  border: none;
  color: white;
}

.editForm input:focus {
  outline: none;

}