.card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-align: start;
  
  width: 240px;
  height: fit-content;
  padding: 6px;
  border-radius: 12px;
  margin: 0 12px;

  background-color: rgba(98, 112, 107, 0.85);
}

.cardTitle {
  margin: 2px 2px;
}

.cardTitle:hover {
  cursor: pointer;
}

.card > .listOptions {
  visibility: hidden;
}

.card:hover > .listOptions {
  visibility: visible;
}

.listOptions {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
}

.optionsDelete {
  margin-left: 6px;
  text-align: end;
  width: 15px;
  height: 18px;
  direction: rtl;
  text-overflow: clip;
  overflow-y: hidden;
  overflow-x: hidden;

  transition: width 250ms ease-in-out;
}

.optionsDelete:hover {
  width: 79.75px;  
  cursor: pointer;
}

.optionsEdit {
  margin-left: 6px;
  text-align: end;
  width: 15px;
  height: 18px;
  direction: rtl;
  text-overflow: clip;
  overflow-y: hidden;
  overflow-x: hidden;

  transition: width 250ms ease-in-out;
}

.optionsEdit:hover {
  width: 54px;
  cursor: pointer;
}

.editForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 240px;
  flex-wrap: wrap;
}


.editForm textarea {
  width: 230px;
  height: fit-content;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 600;
  field-sizing: content;
  line-height: normal;
  resize: none;
  margin-bottom: 6px;
  border: none;
  color: white;
  background-color: rgba(98, 112, 107, 0);
}

.editForm textarea:focus {
  outline: none;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 600;
}