.card {
  width: 260px;
  height: 125px;
  padding: 6px;
  text-align: start;
  border-radius: 12px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  
  background-color: rgb(98, 112, 107);
}

.card h4 {
  margin: 2px;
}

/* .listHeader {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}

.listHeader h3 {
  margin: auto;
} */



.listOptions {
  display: flex;
  flex-direction: column;
  position: relative;
}

.optionsDelete {
  margin-left: 6px;
  text-align: end;
  width: 15px;
  height: 18px;
  direction: rtl;
  text-overflow: clip;
  overflow-y: hidden;
  overflow-x: hidden;
}

.optionsDelete:hover {

  width: 79.75px;  
}