.cardDetails {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  left: 30vw;
  right: 30vw;
  top: 60px;
  height: 540px;
  width: 40vw;
  z-index: 10;  
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(85, 85, 85, 0.975);
}

.cardDetailsForm {
  width: 58vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  padding: 2px;

}

.title {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 200px;
}

.title label {
  font-size: 16px;
  color: rgb(255, 255, 255, 0.75);
  margin-bottom: 4px;
}

.title textarea {
  width: 100%;
  height: 100%;
  padding: 6px;
  border-radius: 4px;
  border: none;
  background-color: rgb(46, 46, 46, 0.5);
  color: white;
  resize: none;
  font-size: 20px;
  font-weight: 500;
  font-family: "Red Hat Text", sans-serif;
}

.title textarea:focus {
  outline: none;
  background-color: rgb(46, 46, 46, 0.75);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48%;
  padding-top: 25px;
  gap: 12px;
}


.menu label {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgb(46, 46, 46, 0.5);
  padding: 8px;
  border-radius: 4px;
}


.menu button {
  min-width: 100px;
  height: 32px;
  font-size: 16px;

  color: white;
  background-color: rgb(46, 46, 46, 0.5);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms ease-in-out;
}
.menu button:hover {
  background-color: rgb(98, 112, 107);
  cursor: pointer;
}

.description {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
} 

.description label {
  font-size: 16px;
  color: rgb(255, 255, 255, 0.75);
  margin-bottom: 4px;
}

.description textarea {
  width: 100%;
  height: 100%;
  padding: 6px;
  border-radius: 4px;
  border: none;
  background-color: rgb(46, 46, 46, 0.5);
  color: white;
  resize: none;
  font-size: 16px;
  font-weight: 400;
  font-family: "Red Hat Text", sans-serif;
}

.description textarea:focus {
  outline: none;
  background-color: rgb(46, 46, 46, 0.75);
}

.formBtns {
  /* align-self: center; */

  margin: auto;
}

.formBtns button {

  height: 32px;
  padding: 0 12px;
  margin: 0 3px;
  font-size: 16px;
  color: white;
  background-color: rgb(46, 46, 46, 0.5);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms ease-in-out;
}
.formBtns button:hover {
  background-color: rgb(98, 112, 107);
  cursor: pointer;
}

