.nav {
  background-color: rgb(75, 75, 75);
}

.list {
  display: flex;
  justify-content: space-between;

  list-style: none;
  padding: 12px;
  gap: 12px;
}

.list section {
  display: flex;
  /* justify-content: flex-end; */
  gap: 12px;
}

.list:first-child {
  left: 0;
}

.greeting {
  border: 1px solid white;
  padding: 0 12px;
  border-radius: 12px;
}