.nav {
  background-color: rgb(75, 75, 75);
}

.list {
  display: flex;
  justify-content: space-between;

  list-style: none;
  padding: 12px;
  gap: 12px;
}

.list section {
  display: flex;
  /* justify-content: flex-end; */
  gap: 12px;
}

.list:first-child {
  left: 0;
}

.greeting {
  border: 1px solid rgba(255, 255, 255, 0.516);
  padding: 0 12px;
  border-radius: 12px;
}

.logoutList, .homeList, .profileList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@media screen and (min-width: 480px) {
  .logoutLogo, .homeLogo, .profileLogo {
    display: none;
  }
  
}



@media screen and (max-width: 480px) {
  .list {
    padding: 6px;
  }

  

  .logoutText, .homeText, .profileText {
    /* display: none; */
    font-size: 12px;
  }
}