*,
*::before,
*::after {
  box-sizing: inherit;
}

*::placeholder {
  color: rgba(245, 245, 245, 0.6);
  font-weight: 600;
}

body {
  box-sizing: border-box;

  margin: 0;
  min-height: 100vh;
  padding-top: 36px;

  font-family: "Red Hat Text", sans-serif;
  /* text-shadow: 1px 1px 2px rgba(39, 39, 39, .5); */
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */

  color: rgba(255, 255, 255, 0.92);
  background-color: #2f2f2f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a,
a:visited {
  color: rgba(255, 255, 255, 0.92);
  text-decoration: none;
}


nav {
  position:fixed;
  width: 100%;
  top: 0;
}

nav > ul {
  margin: 0;
  padding: 16px 32px;
}

@media screen and (max-width: 480px) {
  body {
    /* padding-bottom: 36px; */
    padding-top: 0;
    height: 100vh;
    /* overflow-y: hidden; */
  }
  
  nav {
    bottom: 0;
    top: auto;
  }

}

